/* Estilo para o corpo */
body {
    background-image: url(../assets/background.png);
}

/* Estilo para a navegação */
.navbar-brand {
    color: white;
    font-size: 50px;
    font-family: 'Rawline', sans-serif;
}

.container-fluid {
    margin-bottom: 2%;
}

.nav-link {
    color: white;
    font-size: 20px;
}

.F .form-control {
    width: 500px;
    height: 40px;
    margin-top: -5px;
    border-radius: 30px;
    font-family: 'Rawline', sans-serif;
}

.jogos-principais h1,
.jogos-principais p,
.jogos-populares h1,
.jogos-populares p {
    color: white;
    font-family: 'Rawline', sans-serif;
    text-align: center;
}




.card-total-jogos-principais {
    max-width: 100%;
    max-height: 650px;
}

.card-total-jogos-principais img {
    width: 100%;
    border-radius: 10px;
}

.card-total-jogos-principais p {
    color: white;
    font-size: 25px;
    font-family: 'Rawline', sans-serif;
}


.zoom a {
    text-decoration: none;
}



.zoom {
    transition: transform 0.2s; 
}

.zoom:hover {
    transform: scale(1.1); 
}

.nav-link {
    position: relative;
    list-style: none;
    padding: 4px 0;
}

.nav-link::after,
.nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: all 0.6s ease-in-out;
}

.nav-link::after {
    top: 0;
    right: 0;
    transform-origin: right;

}

.nav-link::before {
    left: 0;
    bottom: 0;
    transform-origin: left;
}

.nav-link:hover::after,
.nav-link:hover::before {
    width: 100%;
}


.cart-icon, .user-icon {
    color: #fff;
    font-size: 32px;
    transition: .5s;
}

.cart-icon:hover, .user-icon:hover {
    transform: scale(1.2);
}

@media (max-width: 800px) {
    
    .navbar-brand {
        font-size: 30px;
    }

    .F .form-control {
        width: 100%;
        margin-top: 10px;
    }

    .form-control {
        width: 100%;
    }

    .card-total-jogos-principais {
        max-height: none;
        margin-top: 25px;
        overflow-y: scroll;
    }

    .card-total-jogos-principais img {
        width: 80%;
        max-height: 150px;
    }

    .card-total-jogos-principais p {
        font-size: 90%;
    }
    


    .row-cols-3 .col,
    .row-cols-4 .col {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .nav-link {
        font-size: 16px;
    }

    .jogos-principais h1,
    .jogos-principais p,
    .jogos-populares h1,
    .jogos-populares p {
        font-size: 30px;
        margin-top: 20px;
    }

    
}