.zoom:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.nav-link {
    position: relative;
    list-style: none;
    padding: 4px 0;
}

.nav-link::after,
.nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: all 0.6s ease-in-out;
}

.nav-link::after {
    top: 0;
    right: 0;
    transform-origin: right;

}

.nav-link::before {
    left: 0;
    bottom: 0;
    transform-origin: left;
}

.nav-link:hover::after,
.nav-link:hover::before {
    width: 100%;
}

.card-title {
    color: aliceblue;
    font-size: 24px;
}

.btn {
    color: aliceblue;
    font-size: 18px;
}

.btn:hover {
    background-color: #343a40;
    transition: background-color 0.3s ease;
}

.cart-icon, .user-icon {
    color: #fff;
    font-size: 32px;
    transition: .5s;
}

.cart-icon:hover, .user-icon:hover {
    transform: scale(1.2);
}